.rightbar {
    /* width: 10vh; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-left: 1px solid black;
}

.phone.rightbar{
    display: none;
}

.phone.rightbar.show{
    display: flex;
}

.phone.rightbar.show input{
    width: 100%;
}

.chatboxContainer {
    height: 100vh;
    overflow: auto;
    /* background-color: red; */

}

.chatbox {
    background-color: rgb(241, 237, 237);
    height: 82%;
    overflow: auto;
    padding: 0 20px;
    width: 68vw;
}

.chatbox.emptybox{
    font-size: 30px;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chatbox.emptybox span{
    font-size: large;
}

.showRight {
    display: block;
    width: 100vw;
}

/* .closeRight {
    display: none;
    width: 0vw;
} */

.chatbox::-webkit-scrollbar {
    width: 3px;
}

.chatbox::-webkit-scrollbar-track {
    background: white;
}

.chatbox::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.chatbox::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media only screen and (max-width: 530px) {
    .chatbox {
        width: 100vw;
    }
}