.message {
    margin: 20px 0;
}

.placeLeft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: red; */
}


.message.placeRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: green; */
}

.text {
    /* max-width: 50%; */
    width: fit-content;
    height: fit-content;
    background-color: white;
    margin: 10px 0 10px 0px;
    padding: 6px 12px;
    border-radius: 5px;
    box-shadow: 1px 1px 13px 1px rgb(225, 222, 222);
    max-width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.file {
    width: 13rem;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 13px 1px rgb(225, 222, 222);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.file i {
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}



@media only screen and (max-width: 530px) {
    .file {
        width: 9rem;
    }
}